$background: rgb(3, 17, 32);
$background-blend: 0.85;

.background {
  background-image: linear-gradient(
      rgba($background, $background-blend),
      rgba($background, $background-blend)
    ),
    url(https://www.toptal.com/designers/subtlepatterns/uploads/embossed-diamond.png);
}
