@import "../../../styles/background";

.onboardingPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .background;
}

.prompt {
  width: 50%;
  height: 50%;
  min-width: 500px;

  border-radius: 10px;
  font-size: 1.2em;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.title, .contents {
  padding: 0.8em 1.4em;
  p {
    width: 100%;
    margin: 0.4em 0;
  }
}
.title {
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.form {
  width: 100%;
  height: 100%;
  padding: 1em;
  
  display: flex;
  flex-direction: column;

  text-align: center;
  
  input {
    font-size: inherit;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2em 2em;
    
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    border: 2px solid #bbb;
    outline: none;
    transition: 0.5s border;

    text-align: inherit;

    &:focus {
      border: 2px solid #000;
      outline: inherit;
    }
    &::placeholder {
      opacity: 1;
      color: #bbb;
    }
  }
  input[type="submit"] {
    font-weight: bold;
    margin-top: auto;
  }
  label {
    font-weight: bold;
  }
}