.button {
  background-color: white;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
  text-decoration: none;

  margin: 4px;

  font-size: 1rem;
  font-variant: small-caps;
  color: white;

  border-radius: 4px;
  padding: 0.6rem 1.4rem;

  cursor: pointer;
}

.buttonIcon {
  margin-right: 0.2rem;
  vertical-align: middle;
}
