@import "./badge.scss";

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.editor {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  .editor-pane {
    flex: 1 1 60%;
    width: 100%;
    height: 100%;
  }
  .badge-pane {
    flex: 1 1 40%;
    width: 100%;
    height: 100%;
  }
}
